APP_PORT=8080

DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.vihmeedxsdvmfavcmtnh
DB_PASSWORD=strong_password12345
DB_SSLMODE=require

JWT_SECRET=c4af6b4a60d4f3eea8702cbd6a51a7a623c2bbed1cc36e85c4bcf034e3998595